version: '3.8'

services:
  dev:
    build: ./api
    container_name: finances_dev
    command: npm run dev
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./api/:/app:cached
    depends_on:
      - db

  test:
    build: .
    container_name: finances_api_test
    command: npm run test
    working_dir: /app
    ports:
      - "4000:4000"
    volumes:
      - ./api/:/app:cached

  db:
    image: ${DB_DIALECT}
    container_name: finances_db
    environment:
      - POSTGRES_USER=${DB_USER}      
      - POSTGRES_PASSWORD=${DB_PASS}  
      - POSTGRES_DB=${DB_NAME} 
    ports:
      - "5432:5432"
    volumes:
      - database:/var/lib/postgresql/data  

volumes:
  database:
