services:
  dev:
    build: ./api
    container_name: finances_dev
    command: npm run dev
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - DB_USER=postgres
      - DB_PASS=admin123
      - DB_NAME=finances_db
      - DB_HOST=db
      - JWT_SECRET=c03a21ed65f4dsfd1aAD21F3ASF5AS
    volumes:
      - ./api/:/app:cached
    depends_on:
      - db
  test:
    build: .
    container_name: finances_api_test
    command: npm run test
    working_dir: /app
    ports:
      - "4000:4000"
    volumes:
      - ./api/:/app:cached  
  db:
    image: postgres
    container_name: finances_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=finances_db
    ports:
      - "5432:5432"
    volumes:
      - database:/var/lib/postgresql
  
volumes:
   database:
